# Virtual Environment
venv/
env/
ENV/

/models/bge-m3
/processed/
/embeddings_output/
.venv/
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db 
 